
* {
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  background-color: aqua;
  padding: 30px 25px;
  height: 90px;
  
}
nav > h3 {
  margin-right: auto;
}

main {
  padding: 57px 27px;
}